#title{
  background-color: #202020;
  padding: 3% 15% 5%
}



.brand-title{
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;

}

h1{
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #ffffff;
}

.links{
  font-family: 'Fredoka One', cursive;
  font-weight: 300;
  font-size: 1.20rem;
}




body{
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
}

.nav-item{
  padding: 0 18px;
}

.navbar{
  padding: 0 0 4.5rem;
}

.title-quote{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.btn-download{
  margin: 5% 3% 5% 0;
}

.fab-icon{
  margin-right: 8px;
}

.title-img{
  width: 90%;
  transform: rotate(25deg);
  position: absolute;
  left: 10%

}

/* Features */
#features{
  padding: 7% 14%;
  text-align: center;
  position: relative;
  background-color: white;
  z-index: 1;
}

.fa-icon{
  color: #404040;
  margin: 1rem;
}

.fa-icon:hover{
  color: #202020;
}

.feature-title{
  font-size: 1.5rem;
  font-weight: 900;
}

p{
  color: grey;
}

.feature-col{
  padding: 5%;
}

/* Testimonial Section */
#testimonials,#press{
  background-color: #404040;
  text-align: center;
  color: white;
}

.testimonial-image{
  border-radius: 50%;
  width: 10%;
  margin: 2px;
}

.testimonial-text{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item{
  padding: 7% 14%;
}

/* Press Section */
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

#press{
  padding: 3%;
}

/* Pricing Section */
#pricing{
  text-align: center;
  padding: 100px;
}

.price-heading, .price-text{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

/* CTA Section */
#cta{
  background-color: #404040;
  padding: 7% 14%;
  text-align: center;
}

.cta-title{
  font-weight: 900;
  line-height: 1.5;
  color: white;
  font-size: 3.5rem;
}

/* Footer Section */
#footer{
  padding: 7% 14%;
  text-align: center;
}

.foot-icon{
  padding: 20px 10px;
}

@media (max-width: 1024px){
  .title-quote{
    font-size: 3rem;
  }
  .title-img{
    transform: rotate(0);
  }
  .btn-download{
    margin-right: 6px;
  }
}

@media (max-width: 768px){
  .title-img{
    position: relative;
    left: 100px;
    width: 60%;
  }
  .column-one{
    text-align: center;
  }
}

@media (max-width: 430px){
  #pricing{
    padding: 0;
  }
}
